.app-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  min-width: 500px;
  min-height: 300px;
}

button {
  align-self: flex-start;
  cursor: pointer;
}

.log-area {
  width: 480px;
  height: 250px;
  resize: none;
}
